<div class="container">
    <div>
        <h3>Users</h3>
    </div>
    <table datatable="ng" dt-column-defs="dtColumnDefs" class="table table-bordered bordered table-striped table-condensed datatable">
        <thead>
            <tr>
                <th>#</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>State Name</th>
                <th>City</th>
                <th style="text-align: center;">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="n in UserData">
                <td>{{$index+1}}</td>
                <td>{{n.firstName}}</td>
                <td>{{n.lastName}}</td>
                <td>{{n.stateName}}</td>
                <td>{{n.City}}</td>
                <td style="text-align: center;">
                    <button type="button" ng-disabled="n.isActive=='Y'" ng-click="ActivateDeactivate(n,'Y')" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Activate</button>
                    <button type="button" ng-disabled="n.isActive=='N'" ng-click="ActivateDeactivate(n,'N')" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Deactivate</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

