<!doctype html>
<html lang="en" ng-app="REIBenniesApp">
<head>
    <title>REI Bennies</title>
    <meta charset="utf-8">
    <meta name="description" content="REI Bennies a training service for REI Benjis">
    <meta name="author" content="2Monkers">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
    <link href="assets/css/custom.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-toastr/2.1.1/angular-toastr.css" />

    <script src="https://npmcdn.com/js-alert/dist/jsalert.min.js"></script>

    <!-- Custom styles for this template -->
    <link href="assets/css/stickyfooter.css" rel="stylesheet">
    <style>
        #txt {
            text-transform: lowercase;
        }
    </style>
    
    <link href="assets/css/calender/fullcalendar.min.css" rel="stylesheet" />
    <link href="assets/css/calender/fullcalendar.print.min.css" rel="stylesheet" media='print'/>

    <script src="scripts/js/moment.min.js"></script>
    <script src="scripts/js/utilities.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="scripts/js/calender/fullcalendar.min.js"></script>
    <script src="scripts/js/angular1.5.2.min.js"></script>
    <script src="scripts/js/angular-animate.js"></script>
    <script src="scripts/js/angular-route.js"></script>
    <script src="scripts/js/angular-cookies.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.17/angular-filter.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-toastr/2.1.1/angular-toastr.tpls.js"></script>
    <script src="scripts/js/checklist-model.js"></script>
    <script src="scripts/js/chart/Chart.min.js"></script>
    <script src="scripts/js/chart/angular-chart.min.js"></script>
    <script src="scripts/js/angular-clipboard.js"></script>

    <script src="scripts/app.js"></script>
    <script src="scripts/services/common/login-service.js"></script>
    <script src="scripts/services/common/common-service.js"></script>
    <script src="scripts/services/user-service.js"></script>
    <script src="scripts/services/rank-service.js"></script>
    <script src="scripts/services/role-service.js"></script>
    <script src="scripts/services/helpSupport-service.js"></script>
    <script src="scripts/services/faq-service.js"></script>
    <script src="scripts/services/home-service.js"></script>
    <script src="scripts/services/calendarevents-service.js"></script>
    <script src="scripts/services/reports-service.js"></script>
    <script src="scripts/services/promoCode-service.js"></script>
    <script src="scripts/services/subscriptionMgmt-service.js"></script>
    <script src="scripts/services/accountactivation-service.js"></script>

    <script src="scripts/config.js"></script>
    <script src="scripts/controllers/common/mainController.js"></script>
    <script src="scripts/controllers/common/loginController.js"></script>
    <script src="scripts/controllers/common/homeController.js"></script>
    <script src="scripts/controllers/user/profileController.js"></script>
    <script src="scripts/controllers/common/helpController.js"></script>
    <script src="scripts/controllers/user/rankController.js"></script>
    <script src="scripts/controllers/rankapprover/rankapproverController.js"></script>
    <script src="scripts/controllers/support/supportController.js"></script>
    <script src="scripts/controllers/admin/usersController.js"></script>
    <script src="scripts/controllers/admin/rolesControlle.js"></script>
    <script src="scripts/controllers/staff/subscriptionMgmt.js"></script>
    <script src="scripts/controllers/admin/useractivityController.js"></script>
    <script src="scripts/controllers/rankapprover/faqMgmtController.js"></script>
    <script src="scripts/controllers/admin/calendareventsController.js"></script>
    <script src="scripts/controllers/reports/yearlyReportsController.js"></script>
    <script src="scripts/controllers/reports/monthlyReportsController.js"></script>
    <script src="scripts/controllers/admin/pushnotificationhistoryController.js"></script>
    <script src="scripts/controllers/admin/marketplacesController.js"></script>
    <script src="scripts/controllers/admin/promocodeController.js"></script>
    <script src="scripts/controllers/admin/accountactivationController.js"></script>
</head>

<body ng-controller="mainController"  style="background-color: #A1D461">
    <div ng-if="!IsLoginPage" ng-include src="'views/common/header.html'">
    </div>
    <div ng-if="IsHelp && IsLoginPage" ng-include src="'views/common/logOutHeader.html'">
    </div>
    <div ng-view="" class="content_section" >
        <!--Content will be renderd here-->
    </div>
    <div ng-if="!IsLoginPage" ng-include src="'views/common/footer.html'">
    </div>
    <div ng-if="IsHelp && IsLoginPage" ng-include src="'views/common/footer.html'">
    </div>
    <!--<div id="siteLoader" class="ngo_loader_container">
    <div class="loader">
        </div>
    </div>-->

    <div class="custom_loader" id="ajaxSpinnerContainer">
        <center>
            <img src="assets/images/ajax-loader.gif" id="ajaxSpinnerImage" alt="Fetching Data..." title="Fetching Data...">
        </center>
    </div>

    <!-- jQuery library -->
   
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--jsalert-->
    <script src="scripts/js/jquery.dataTables.min.js"></script>
    <script src="scripts/js/dataTables.bootstrap.min.js"></script>
    <script src="scripts/js/angular-datatables.js"></script>
</body>
</html>