.custom_loader{
 position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 9999;
    background:rgba(255, 255, 255, 0.79);
    bottom: 0;
}
.custom_loader{
    padding-top:15%;
}
.cardLayout{
    background: #eee;
    padding: 20px;
    width: 300px;
    position:relative;
}
.cardLayout input.btn.btn-default {
    position: absolute;
    right: 20px;
}