<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/home"><span class="glyphicon glyphicon-user"></span> REI Bennies - {{UserRole}}</a>
        </div>
        <div class="collapse navbar-collapse"  id="myNavbar">
            <ul class="nav navbar-nav ">
                <li ng-class="{ 'active' : IsHome && SelectedPage=='Home'}"><a href="#/home">Home</a></li>
                <li ng-class="{ 'active' : IsProfile && SelectedPage=='Profile'}"><a href="#/profile">My Profile</a></li>
                <li ng-if="UserRole=='App Admin'" ng-class="{ 'dropdown active' : (IsUsers && SelectedPage=='Users') || (IsRoles && SelectedPage=='Roles')}">
                    <a class="dropdown-toggle" data-toggle="dropdown">Admin<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li ng-if="UserRole=='App Admin'" ng-class="{ 'active' : IsUsers && SelectedPage=='Users'}"><a href="#/users">Users</a></li>
                        <li ng-if="UserRole=='App Admin'" ng-class="{ 'active' : IsRoles && SelectedPage=='Roles'}"><a href="#/roles">Roles</a></li>
                        <!--<li ng-if="UserRole=='App Admin'" ng-class="{ 'active' : IsCalendarEvents && SelectedPage=='CalendarEvents'}"><a href="#/calendarevents">Calendar Events</a></li>-->
                    </ul>
                </li>
                <li ng-if="UserRole=='Rank Approver' || UserRole=='App Admin'" ng-class="{ 'dropdown active' : (IsCalendarEvents && SelectedPage=='CalendarEvents') || ( IsFAQMgmt && SelectedPage=='FAQMgmt') || ( IsSubscriptionMgmt && SelectedPage=='SubscriptionMgmt')|| ( IsMarketPlaces && SelectedPage=='MarketPlaces') || ( IsProExpertise && SelectedPage=='ProExpertise') || ( IsUserDevices && SelectedPage=='UsersDevice')}">
                    <a class="dropdown-toggle" data-toggle="dropdown">Content<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li ng-if="UserRole=='Rank Approver' || UserRole=='App Admin'" ng-class="{ 'active' : IsCalendarEvents && SelectedPage=='CalendarEvents'}"><a href="#/calendarevents">Calendar</a></li>
                        <li ng-if="UserRole=='App Admin'" ng-class="{ 'active' : IsFAQMgmt && SelectedPage=='FAQMgmt'}"><a href="#/faqmgmt">FAQ</a></li>
                        <li ng-if="UserRole=='Staff' || UserRole=='App Admin'" ng-class="{ 'active' : IsSubscriptionMgmt && SelectedPage=='SubscriptionMgmt'}"><a href="#/subscriptionmgmt">Subscription</a></li>
                        <li ng-if="UserRole=='App Admin'" ng-class="{ 'active' : IsMarketPlaces && SelectedPage=='MarketPlaces'}"><a href="#/marketplaces">Market Places</a></li>
                        <li ng-if="UserRole=='App Admin'" ng-class="{ 'active' : IsProExpertise && SelectedPage=='ProExpertise'}"><a href="#/proExpertise">Pro Expertise</a></li>
                        <li ng-if="UserRole=='App Admin'" ng-class="{ 'active' : IsUserDevices && SelectedPage=='UsersDevice'}"><a href="#/userDevices">User Devices</a></li>
                     </ul>
                </li>
                <li ng-if="UserRole=='App Admin'" ng-class="{ 'dropdown active' : (IsPromoCodes && SelectedPage=='PromoCodes')}">
                    <a class="dropdown-toggle" data-toggle="dropdown">Marketing<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li ng-if="UserRole=='App Admin'" ng-class="{ 'active' : IsPromoCodes && SelectedPage=='PromoCodes'}"><a href="#/promocodes">Promo Codes</a></li>
                    </ul>
                </li>
                <!--<li ng-if="UserRole=='Rank Approver' || UserRole=='App Admin'" ng-class="{ 'dropdown active' : (IsRankApprover && SelectedPage=='RankApprover') || (IsRank && SelectedPage=='Rank')}">
                    <a class="dropdown-toggle" data-toggle="dropdown">Rank Management<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li ng-if="UserRole=='Rank Approver' || UserRole=='App Admin'" ng-class="{ 'active' : IsRankApprover && SelectedPage=='RankApprover'}"><a href="#/rankapprover">Rank Approver</a></li>
                        <li ng-if="UserRole=='App Admin'" ng-class="{ 'active' : IsRank && SelectedPage=='Rank'}"><a href="#/rank">Ranking</a></li>
                    </ul>
                </li>-->
                <li ng-if="UserRole=='App Admin'" ng-class="{ 'dropdown active' : (IsRankApprover && SelectedPage=='RankApprover') || (IsRank && SelectedPage=='Rank')}">
                    <a class="dropdown-toggle" data-toggle="dropdown">Rank<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li ng-if="UserRole=='Rank Approver' || UserRole=='App Admin'" ng-class="{ 'active' : IsRankApprover && SelectedPage=='RankApprover'}"><a href="#/rankapprover">Requests</a></li>
                        <li ng-if="UserRole=='App Admin'" ng-class="{ 'active' : IsRank && SelectedPage=='Rank'}"><a href="#/rank">Rankings</a></li>
                    </ul>
                </li>
                <li ng-if="UserRole=='App Admin'" ng-class="{ 'dropdown active' : (IsUserActivity && SelectedPage=='UserActivity') || (IsPushNotificationHistory && SelectedPage=='PushNotificationHistory') || (IsYearlyReports && SelectedPage=='YearlyReports') || (IsMonthlyReports && SelectedPage=='MonthlyReports')}">
                    <a class="dropdown-toggle" data-toggle="dropdown">Reporting<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-submenu" ng-if="UserRole=='App Admin'" ng-class="{ 'active' : (IsYearlyReports && SelectedPage=='YearlyReports')|| (IsMonthlyReports && SelectedPage=='MonthlyReports')}">
                            <a>KPI's</a>
                            <ul class="dropdown-menu">
                                <li ng-if="UserRole=='App Admin'" ng-class="{ 'active' : IsMonthlyReports && SelectedPage=='MonthlyReports'}"><a href="#/monthlyreports">Monthly</a></li>
                                <li ng-if="UserRole=='App Admin'" ng-class="{ 'active' : IsYearlyReports && SelectedPage=='YearlyReports'}"><a href="#/yearlyreports">Yearly</a></li>
                            </ul>
                        </li>

                        <li ng-if="UserRole=='App Admin'" ng-class="{ 'active' : IsPushNotificationHistory && SelectedPage=='PushNotificationHistory'}"><a href="#/pushnotificationhistory">Push Notifications</a></li>
                        <li ng-if="UserRole=='App Admin'" ng-class="{ 'active' : IsUserActivity && SelectedPage=='UserActivity'}"><a href="#/useractivity">User Activity</a></li>
                    </ul>
                </li>
                <li ng-if="UserRole=='Support' || UserRole=='App Admin'" ng-class="{ 'active' : IsSupport && SelectedPage=='Support'}"><a href="#/support">Support</a></li>
                <!--<li ng-if="UserRole=='Staff' || UserRole=='App Admin'" ng-class="{ 'active' : IsSubscriptionMgmt && SelectedPage=='SubscriptionMgmt'}"><a href="#/subscriptionmgmt">Subscription Management</a></li>-->
                <!--<li ng-if="UserRole=='Staff' || UserRole=='App Admin'" ng-class="{ 'active' : IsFAQMgmt && SelectedPage=='FAQMgmt'}"><a href="#/faqmgmt">FAQ Management</a></li>-->
                <!--<li ng-if="UserRole=='App Admin'" ng-class="{ 'dropdown active' : (IsYearlyReports && SelectedPage=='YearlyReports') || (IsMonthlyReports && SelectedPage=='MonthlyReports')}">
                    <a class="dropdown-toggle" data-toggle="dropdown">Reports<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li ng-if="UserRole=='App Admin'" ng-class="{ 'active' : IsYearlyReports && SelectedPage=='YearlyReports'}"><a href="#/yearlyreports">Yearly</a></li>
                        <li ng-if="UserRole=='App Admin'" ng-class="{ 'active' : IsMonthlyReports && SelectedPage=='MonthlyReports'}"><a href="#/monthlyreports">Monthly</a></li>
                    </ul>
                </li>-->
               
                <!--<li ng-if="UserRole=='App Admin'" ng-class="{ 'active' : IsUserActivity && SelectedPage=='UserActivity'}"><a href="#/useractivity">User Activity</a></li>-->
                <!--<li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#/home">Training<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="#/home">Contacts</a></li>
                <li><a href="#/home">Events</a></li>
                <li><a href="#/home">Groups</a></li>
                <li><a href="#/home">Deal Analyzer</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#/home">Documents<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="#/home">Privacy Policy</a></li>
                <li><a href="#/home">Terms of Use</a></li>
            </ul>
        </li>-->




            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#/logout" ng-click="Logout()"><span class="glyphicon glyphicon-remove-circle"></span> Log Out</a></li>
            </ul>
        </div>
    </div>
</nav>

