<div class="container">
    <div class="page-header">
        Welcome, <span>{{Greeting}}</span>
    </div>
    <!-- begin page content -->
    <div>
        <b>Total Bennies : {{TotalNoOfBennies}}</b>
        <b>Total Rankings : {{TotalNoOfBenniesRankings}}</b>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-5">
            <b>Total Bennies Per Month</b>
            <br />
            <!--<canvas id="pie" class="chart chart-pie" chart-data="data" chart-labels="labels"></canvas>-->
            <canvas id="cnbenniespermonth" class="chart chart-line" chart-data="benniesPerMonthdata"  title="Total Bennies By Month" chart-labels="benniesPerMonthLabels" chart-legend="true" chart-series="series"></canvas>
        </div>
        <div class="col-sm-5">
            <b>Total Subscription By Type</b>
            <br />
            <canvas id="cnsubscriptionbytype" class="chart chart-line" chart-data="subscriptionByTypeData" title="Total Subscription By Type" chart-labels="subscriptionByTypeLabels" chart-legend="true" chart-series="series"></canvas>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5">
            <b>Total Bennies By State</b>
            <br />
            <canvas id="cnbenniesbystate" class="chart chart-bar" chart-data="benniesByStateData" title="Total Bennies By State" chart-labels="benniesByStateLabels" chart-legend="true" chart-series="series"></canvas>
        </div>
        <div class="col-sm-5">
            <b>Total Help Request By Month</b>
            <br />
            <canvas id="cnhelpreqbymonth" class="chart chart-bar" chart-data="helpRequestByMonthData" title="Total Help Request By Month" chart-labels="helpRequestByMonthLabels" chart-legend="true" ></canvas>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5">
            <b>Total Revenue By Month</b>
            <br />
            <canvas id="cnrevenuebymonth" class="chart chart-line" chart-data="revenueByMonthData" title="Total Revenue By Month" chart-labels="revenueByMonthLabels" chart-legend="true"></canvas>
        </div>
    </div>
        <!-- end page content -->
 </div>

